.label-web{
  background-color: @web;
}
.label-desktop{
  background-color: @desktop;
}
.label-mobile{
  background-color: @mobile;
}
.label-cli{
  background-color: @cli;
}
.label-library{
  background-color: @library;
}
.label-angularjs{
  background-color: #EF5350;
}
.label-electron{
  background-color: #64B5F6;
}
.label-php{
  background-color: #7986CB;
}
.label-javascript{
  background-color: #FDD835;
}
