<div id="about">
  <div class="head">
    <div class="thcolin">
      <a onclick="go('#home')"><h1>thcol.in</h1></a>
    </div>
    <div class="menu">
      <ul>
        <li><a href="blog/">Blog</a></li>
        <li><a onclick="go('#projects')">Projects</a></li>
        <li><a onclick="go('#about')">About</a></li>
      </ul>
    </div>
  </div>
  <div class="content">
    <img src="dist/img/avatar.jpg" />
    <div class="">
      <h1>Thomas Colin</h1>
      <h4>Frontend Developer</h4>
      <h4>#Javascript #AngularJS #React</h4>
      <h4>@Nantes</h4>
      <ul>
        <li><a href="https://github.com/thcolin/"><i class="ion-social-github"></i> @thcolin</a></li>
        <li><a href="https://twitter.com/thcolin3"><i class="ion-social-twitter"></i> @thcolin3</a></li>
        <li><a href="mailto:me@thcol.in"><i class="ion-paper-airplane"></i> me@thcol.in</a></li>
      </ul>
    </div>
  </div>
</div>
