<div id="projects">
  <div class="head">
    <div class="thcolin">
      <a onclick="go('#home')"><h1>thcol.in</h1></a>
    </div>
    <div class="menu mobile-hide">
      <ul>
        <li><a href="blog/">Blog</a></li>
        <li><a onclick="go('#projects')">Projects</a></li>
        <li><a onclick="go('#about')">About</a></li>
        <li><a href="https://github.com/thcolin/"><i class="fab fa-github"></i></a></li>
        <li><a href="https://twitter.com/thcolin3"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
    <div class="menu mobile-show">
      <ul>
        <li><a href="blog/">Blog</a></li>
        <li><a onclick="go('#projects')">Projects</a></li>
        <li><a onclick="go('#about')">About</a></li>
      </ul>
      <ul>
        <li><a href="https://github.com/thcolin/"><i class="fab fa-github"></i></a></li>
        <li><a href="https://twitter.com/thcolin3"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="content colors-reverse">
    <div class="categories">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
          <div class="web">
            <div class="img">
              <img src="dist/img/web.png" />
            </div>
            <h4>Web</h4>
            <p class="light">Web applications</p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="desktop">
            <div class="img">
              <img src="dist/img/desktop.png" />
            </div>
            <h4>Desktop</h4>
            <p class="light">Desktop applications</p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="mobile">
            <div class="img">
              <img src="dist/img/mobile-android.png" />
              <img src="dist/img/mobile-apple.png" />
            </div>
            <h4>Mobile</h4>
            <p class="light">Mobile applications</p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="cli">
            <div class="img">
              <img src="dist/img/cli.png" />
            </div>
            <h4>CLI</h4>
            <p class="light">CLI applications/tools</p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="library">
            <div class="img">
              <img src="dist/img/library.png" />
            </div>
            <h4>Library</h4>
            <p class="light">Libraries</p>
          </div>
        </div>
      </div>
    </div>
    <div class="projects">
      <div class="project">
        <div class="about">
          <div class="metadata">
            <h2>chrome-download-quicklook-extension</h2>
            <ul class="links">
              <li><a href="https://github.com/thcolin/chrome-download-quicklook-extension"><i class="fab fa-github"></i></a></li>
            </ul>
            <div class="tags">
              <span class="label label-web">#Web</span>
              <span class="label label-separator"></span>
              <span class="label label-javascript">Javascript</span>
              <span class="label label-choo">Choo</span>
            </div>
          </div>
          <div class="emojis">💾🔭</div>
        </div>
        <p class="light">
          Beautiful Chrome extension to have a quicklook on your downloads !</a>
        </p>
      </div>
      <div class="project">
        <div class="about">
          <div class="metadata">
            <h2>nipper</h2>
            <ul class="links">
              <li><a href="https://github.com/thcolin/nipper"><i class="fab fa-github"></i></a></li>
            </ul>
            <div class="tags">
              <span class="label label-web">#Web</span>
              <!-- <span class="label label-mobile">#Mobile</span> -->
              <!-- <span class="label label-desktop">#Desktop</span> -->
              <span class="label label-separator"></span>
              <span class="label label-javascript">Javascript</span>
              <!-- <span class="label label-electron">Electron</span> -->
              <span class="label label-react">React</span>
            </div>
          </div>
          <div class="emojis">🍒🎙️🐶️</div>
        </div>
        <p class="light">
          Youtube playlist (& video) ripper, parse Youtube video or playlist link, fix inaccurate tags (cover, artist & song), choose wanted format (mp4, webm, aac, mp3 or ogg), and download on-by-one or zipped (best flux chosen by default) ! Every process are made directly in the browser, like downloading flux or converting them with <a href="https://github.com/Kagami/ffmpeg.js">Kagami/ffmpeg.js</a>
        </p>
      </div>
      <div class="project">
        <div class="about">
          <div class="metadata">
            <h2>react-virtualist</h2>
            <ul class="links">
              <li><a href="https://github.com/thcolin/react-virtualist"><i class="fab fa-github"></i></a></li>
            </ul>
            <div class="tags">
              <span class="label label-library">#Library</span>
              <span class="label label-separator"></span>
              <span class="label label-javascript">Javascript</span>
              <span class="label label-react">React</span>
            </div>
          </div>
          <div class="emojis">💀🚟</div>
        </div>
        <p class="light">
          Just a dead-simple react library to render big list (~1M) by rendering only visible elements (with a few offset of course)
        </p>
      </div>
      <div class="project">
        <div class="about">
          <div class="metadata">
            <h2>scene-release-parser-js</h2>
            <ul class="links">
              <li><a href="https://github.com/thcolin/scene-release-parser-js"><i class="fab fa-github"></i></a></li>
            </ul>
            <div class="tags">
              <span class="label label-library">#Library</span>
              <span class="label label-separator"></span>
              <span class="label label-javascript">Javascript</span>
              <span class="label label-vanilla">Vanilla</span>
            </div>
          </div>
          <div class="emojis">🎟💸☠️</div>
        </div>
        <p class="light">
          Parse scene release name, return object with title, tags and flags
        </p>
      </div>
      <div class="project">
        <div class="about">
          <div class="metadata">
            <h2 class="deprecated" title="Deprecated">torrent-djinn</h2>
            <ul class="links">
              <li><a href="https://github.com/thcolin/torrent-djinn"><i class="fab fa-github"></i></a></li>
            </ul>
            <div class="tags">
              <span class="label label-cli">#CLI</span>
              <span class="label label-separator"></span>
              <span class="label label-php">PHP</span>
            </div>
          </div>
          <div class="emojis">🌊👻</div>
        </div>
        <p class="light">
          PHP console application allowing you to search torrents on various trackers and filters them easily.
        </p>
      </div>
      <div class="project">
        <div class="about">
          <div class="metadata">
            <h2 class="deprecated">senscritique-api</h2>
            <ul class="links">
              <li><a href="https://github.com/thcolin/senscritique-api"><i class="fab fa-github"></i></a></li>
            </ul>
            <div class="tags">
              <span class="label label-library">#Library</span>
              <span class="label label-separator"></span>
              <span class="label label-php">PHP</span>
            </div>
          </div>
          <div class="emojis">🎥🖲</div>
        </div>
        <p class="light">
          PHP Library to call basics usage of SensCritique website by curl and dom parsing.
        </p>
      </div>
      <div class="project">
        <div class="about">
          <div class="metadata">
            <h2 class="deprecated" title="Deprecated">epyd</h2>
            <ul class="links">
              <li><a href="https://github.com/thcolin/epyd"><i class="fab fa-github"></i></a></li>
            </ul>
            <div class="tags">
              <span class="label label-web">#Web</span>
              <span class="label label-separator"></span>
              <span class="label label-php">PHP</span>
              <span class="label label-javascript">Javascript</span>
              <span class="label label-angularjs">AngularJS</span>
            </div>
          </div>
          <div class="emojis">🍎️🎻☁️</div>
        </div>
        <p class="light">
          Epyd (Easy Playlist Youtube Downloadr) allow you to download your Youtube playlists & videos a MP3 files filled with valid ID3 tags.
        </p>
      </div>
      <div class="project">
        <div class="about">
          <div class="metadata">
            <h2>silex-simpleuser-jwt</h2>
            <ul class="links">
              <li><a href="https://github.com/thcolin/silex-simpleuser-jwt"><i class="fab fa-github"></i></a></li>
            </ul>
            <div class="tags">
              <span class="label label-library">#Library</span>
              <span class="label label-separator"></span>
              <span class="label label-php">PHP</span>
            </div>
          </div>
          <div class="emojis">🗿🏷️👨</div>
        </div>
        <p class="light">
          An implementation of jasongrimes/silex-simpleuser with JSON Web Token (JWT) frequently used in javascript frontend framework (AngularJS, ...)
        </p>
      </div>
      <div class="project">
        <div class="about">
          <div class="metadata">
            <h2>scene-release-parser-php</h2>
            <ul class="links">
              <li><a href="https://github.com/thcolin/scene-release-parser-php"><i class="fab fa-github"></i></a></li>
            </ul>
            <div class="tags">
              <span class="label label-library">#Library</span>
              <span class="label label-separator"></span>
              <span class="label label-php">PHP</span>
            </div>
          </div>
          <div class="emojis">🎟💸☠️</div>
        </div>
        <p class="light">
          PHP Library to parse scene release names to get their tags and title (original from majestixx/scene-release-parser-php-lib)
        </p>
      </div>
      <div class="project">
        <div class="about">
          <div class="metadata">
            <h2>silex-gearman-service</h2>
            <ul class="links">
              <li><a href="https://github.com/thcolin/silex-gearman-service"><i class="fab fa-github"></i></a></li>
            </ul>
            <div class="tags">
              <span class="label label-library">#Library</span>
              <span class="label label-separator"></span>
              <span class="label label-php">PHP</span>
            </div>
          </div>
          <div class="emojis">🗿🏢👷</div>
        </div>
        <p class="light">
          PHP library to facilitate the use of Gearman bin. The library use two majors service gearman.jobs to manage jobs, and gearman.workers to manage workers.
        </p>
      </div>
    </div>
  </div>
</div>
