<div id="projects">
  <div class="head">
    <div class="thcolin">
      <a onclick="go('#home')"><h1>thcol.in</h1></a>
    </div>
    <div class="menu">
      <ul>
        <li><a onclick="go('#blog')">Blog</a></li>
        <li><a onclick="go('#projects')">Projects</a></li>
        <li><a onclick="go('#about')">About</a></li>
        <li><a href="https://github.com/thcolin/"><i class="ion-social-github"></i></a></li>
        <li><a href="https://twitter.com/thcolin3"><i class="ion-social-twitter"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="content colors-reverse">
    <div class="categories">
      <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
          <div class="web">
            <div class="img">
              <img src="dist/img/web.png" />
            </div>
            <h4>Web</h4>
            <p class="light">Web applications</p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="desktop">
            <div class="img">
              <img src="dist/img/desktop.png" />
            </div>
            <h4>Desktop</h4>
            <p class="light">Desktop applications</p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="mobile">
            <div class="img">
              <img src="dist/img/mobile-android.png" />
              <img src="dist/img/mobile-apple.png" />
            </div>
            <h4>Mobile</h4>
            <p class="light">Mobile applications</p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="cli">
            <div class="img">
              <img src="dist/img/cli.png" />
            </div>
            <h4>CLI</h4>
            <p class="light">CLI applications/tools</p>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="library">
            <div class="img">
              <img src="dist/img/library.png" />
            </div>
            <h4>Library</h4>
            <p class="light">Libraries</p>
          </div>
        </div>
      </div>
    </div>
    <div class="projects">
      <div class="project nodepad wip">
        <div class="description">
          <h2>nodepad</h2>
          <ul class="links">
            <li><a onclick="go('#nodepad')"><i class="ion-information-circled"></i></a></li>
            <li><a href="https://github.com/thcolin/nodepad"><i class="ion-social-github"></i></a></li>
          </ul>
          <div class="tags">
            <span class="label label-desktop">#Desktop</span>
            <span class="label label-separator"></span>
            <span class="label label-angularjs">AngularJS</span>
            <span class="label label-electron">Electron</span>
          </div>
          <p class="light">
            A simple notebook application, available on Windows, OS X and Linux. Live Markdown interpretation, labelize notes with tags and more features.
          </p>
        </div>
        <div class="logo">
          <img src="dist/img/projects/nodepad.png" />
        </div>
      </div>
      <div class="project torrent-djinn">
        <div class="description">
          <h2>torrent-djinn</h2>
          <ul class="links">
            <li><a href="https://github.com/thcolin/torrent-djinn"><i class="ion-social-github"></i></a></li>
          </ul>
          <div class="tags">
            <span class="label label-cli">#CLI</span>
            <span class="label label-separator"></span>
            <span class="label label-php">PHP</span>
          </div>
          <p class="light">
            PHP console application allowing you to search torrents on various trackers and filters them easily.
          </p>
        </div>
        <div class="logo">
          <img src="dist/img/projects/torrent-djinn.png" />
        </div>
      </div>
      <div class="project senscritique-api">
        <div class="description">
          <h2>senscritique-api</h2>
          <ul class="links">
            <li><a href="https://github.com/thcolin/senscritique-api"><i class="ion-social-github"></i></a></li>
          </ul>
          <div class="tags">
            <span class="label label-library">#Library</span>
            <span class="label label-separator"></span>
            <span class="label label-php">PHP</span>
          </div>
          <p class="light">
            PHP Library to call basics usage of SensCritique website by curl and dom parsing.
          </p>
        </div>
        <div class="logo">
          <img src="dist/img/projects/senscritique-api.png" />
        </div>
      </div>
      <div class="project epyd">
        <div class="description">
          <h2>epyd</h2>
          <ul class="links">
            <li><a href="https://github.com/thcolin/epyd"><i class="ion-social-github"></i></a></li>
          </ul>
          <div class="tags">
            <span class="label label-web">#Web</span>
            <span class="label label-separator"></span>
            <span class="label label-php">PHP</span>
            <span class="label label-angularjs">AngularJS</span>
          </div>
          <p class="light">
            Epyd (Easy Playlist Youtube Downloadr) allow you to download your Youtube playlists & videos a MP3 files filled with valid ID3 tags.
          </p>
        </div>
        <div class="logo">
          <img src="dist/img/projects/epyd.png" />
        </div>
      </div>
      <div class="project silex-simpleuser-jwt">
        <div class="description">
          <h2>silex-simpleuser-jwt</h2>
          <ul class="links">
            <li><a href="https://github.com/thcolin/silex-simpleuser-jwt"><i class="ion-social-github"></i></a></li>
          </ul>
          <div class="tags">
            <span class="label label-library">#Library</span>
            <span class="label label-separator"></span>
            <span class="label label-php">PHP</span>
          </div>
          <p class="light">
            An implementation of jasongrimes/silex-simpleuser with JSON Web Token (JWT) frequently used in javascript frontend framework (AngularJS, ...)
          </p>
        </div>
        <div class="logo">
          <img src="dist/img/projects/silex.png" />
          <img src="dist/img/projects/silex-simpleuser-jwt_user.png" />
          <img src="dist/img/projects/silex-simpleuser-jwt_coin.png" />
        </div>
      </div>
      <div class="project scene-release-parser">
        <div class="description">
          <h2>scene-release-parser</h2>
          <ul class="links">
            <li><a href="https://github.com/thcolin/scene-release-parser"><i class="ion-social-github"></i></a></li>
          </ul>
          <div class="tags">
            <span class="label label-library">#Library</span>
            <span class="label label-separator"></span>
            <span class="label label-php">PHP</span>
          </div>
          <p class="light">
            PHP Library to parse scene release names to get their tags and title (original from majestixx/scene-release-parser-php-lib)
          </p>
        </div>
        <div class="logo">
          <img src="dist/img/projects/scene-release-parser_dvd.png" />
          <img src="dist/img/projects/scene-release-parser_edit.png" />
        </div>
      </div>
      <div class="project silex-gearman-service">
        <div class="description">
          <h2>silex-gearman-service</h2>
          <ul class="links">
            <li><a href="https://github.com/thcolin/silex-gearman-service"><i class="ion-social-github"></i></a></li>
          </ul>
          <div class="tags">
            <span class="label label-library">#Library</span>
            <span class="label label-separator"></span>
            <span class="label label-php">PHP</span>
          </div>
          <p class="light">
            PHP library to facilitate the use of Gearman bin. The library use two majors service gearman.jobs to manage jobs, and gearman.workers to manage workers.
          </p>
        </div>
        <div class="logo">
          <img src="dist/img/projects/silex.png" />
          <img src="dist/img/projects/silex-gearman-service_worker.png" />
          <img src="dist/img/projects/silex-gearman-service_gear.png" />
        </div>
      </div>
    </div>
  </div>
</div>
